

<div #container class="note-page-container">
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">    
        <div class="x-button" (click)="onXbuttonClick()"></div>   

        <div class="note-page-content form-group">
            <label class="note-page-title">Page {{this.pageNumber}}</label>
            <textarea class="textarea form-control" name="noteContent" [ngModel]="note.note" placeholder="Start taking notes!" rows="10">{{ note }}</textarea>
        </div>
        <div class="field is-pulled-right">
            <div class="control">
                <button class="button is-small is-success" type="submit" [disabled]="noteForm.pristine">Save</button>
            </div>
        </div>
    </form>
</div>
